<ol>
  {{#each burger}}
 
   <li>   {{burger_name}} </li>

  {{/each}}
</ol>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="newBurger">Enter New Burger Name:</label>
    <input type="text" id="newBurger" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>