body{
    background-color:#beef;
}

.burger-icon{
    width:200px;
}

.menu-item{
    background-color: tan;
    padding:5px;
    color:brown;
}

.eaten{
    background-color: darkgray;
    padding:3px;
    color:gray;
    text-decoration: line-through;
}


ol{
    background:#d1d167;
    padding:10px 20px;
}

.heading{
    text-align: center;
}

.btn{
    width:100%;
    font-size: smaller;
}